input[type="checkbox"].switch{
    position: relative;
    appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    transition-duration: 200ms;
}
input[type="checkbox"].switch:after{
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, .2);
}
input[type="checkbox"].switch:checked{
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
}
input[type="checkbox"].switch:checked:after{
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, .5);
}