.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-body {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 20%;
    top: 20%;
    border-radius: .5rem;
    border-color: black;
    background: linear-gradient(#8099E9, #E99DCB);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    overflow-y: auto;
}