.navbar{
    display: flex;
    flex-direction: row;
    padding: .5rem 4rem;
    width: 100vw;
    align-items: center;
}
.navbar_left{
    display: flex;
    flex: 1;
    align-items: center;
}
 .navbar_right{
    display: flex;
    align-items: center;
}
.navbar_title{
    font-size: 1.5em;
    font-weight: 600;
}
.navbar_search_input{
    width: 100%;
}
.navbar_link{
    margin: 0 1rem;
    color: white;
}
.navbar_item{
    margin: 1;
}