.nftCard{
    max-width: 200px;
    position: relative;
}
.nftCard > img{
    max-width: 200px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: .5rem;
}
.nftCard_text{
    position: absolute;
    bottom: 0;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    color: white;
}
.nft_actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}