.wrapper{
  background: linear-gradient(#8099E9, #E99DCB);
  min-height: 100vh;
}
.about{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}
.about_image{
  height: 25rem;
  width: auto;
}
.container{
  padding: 0 4rem;
}
.nft_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  justify-items: center;
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, .5);
}
.nft_form{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
}
.form_upload{
  justify-items: center;
}
.form_upload>span{
  color: azure;
  font-size: 1.5rem;
}
.form_field{
  width: 100%;
  outline: none;
  border: 1px solid #8099E9;
  padding: .2rem;
  font-size: 1em;
  border-radius: .3rem;
  margin-bottom: .5rem;
}
.nft_detail{
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-gap: 1.5rem;
}
.nft_detail_image{
  height: 200px;
  width: auto;
}